GOOGLE_SEARCH_API_KEY=
GOOGLE_SEARCH_ENGINE_ID=

DUCKDUCKGO_SEARCH_API_KEY=

ANTHROPIC_API_KEY=
CLOUDFLARE_API_KEY=
COHERE_API_KEY=
GROQ_API_KEY=
OLLAMA_API_KEY=
OLLAMA_CLOUD_API_KEY=
LLAMACPP_API_URL=http://llamacpp:8080/v1
OPENAI_API_KEY=
DEEPSEEK_API_KEY=
GOOGLE_API_KEY=
MISTRAL_API_KEY=
MINIMAX_API_KEY=
MOONSHOT_API_KEY=
NVIDIA_API_KEY=
ZAI_API_KEY=
