.DS_Store

# Secrets
**/.env*
!**/.env*.example

# Artifacts
/dist
flox.*-linux.*
/.task
infer
!cmd/infer/
!cmd/infer/main.go

# Nix build artifacts
result
result-*
*.drv

# IDE's
.vscode
.idea
.infer
